{% extends "app/layout.html" %}

{% block content %}

<article id="main">
    <header class='bg'>
        <h2>The Dream Portal</h2>
        <p>The Dream Project Inc.</p>
            <address>
                P.O. Box 7419<br />
                Arlington, VA 22207<br />
                <abbr title="Office Phone">O:</abbr>
                (703) 672-1541
            </address>
    </header>
    <section class="wrapper style5">
        <div class="inner">
            <h3>About</h3>
            <p>The Dream Portal is a web application developed to simplify the exchange of data between the Dream Project and our students and supporters.</p>

            <h3>Features</h3>

            <ul>
                <li>Supporters and students are able to update their personal information</li>
                <li>Supporters and students are able to RSVP and volunteer for different events</li>
                <li>Students are able to apply, or renew, their scholarship through the online application portal</li>
                <li>People reviewing, or interviewing, applicants can access all relevant information directly from their browser</li>
            </ul>

            <h3>Developer</h3>
            <p>The Dream Portal was designed and built by Carlos Puerta, our Program Assistant. If you encounter any issues while using this application, or have any questions, please email him at <a href="mailto:carlos@dreamproject-va.org">carlos@dreamproject-va.org</p>

        </div>
    </section>
</article>


{% endblock %}
