{% extends "app/layout.html" %} {% block content %}

<article id="main">
  <header class="small">
    <h2>Log into the Dream Portal</h2>
  </header>
  <form action="." method="post">
    {% csrf_token %}
    <div class="small-tables">
      <table>
        {{form}}
      </table>
    </div>

    <div style="text-align: center; margin-top: 20px">
      <input type="hidden" name="next" value="/" />
      <input type="submit" value="Log in" />
      <p style="margin-top: 20px; font-size: 10pt">
        <a href="recover-credentials/">Recover credentials</a>
      </p>
    </div>
  </form>
</article>

{% endblock %} {% block scripts %} {% load staticfiles %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>
<script src="{% static 'app/scripts/jquery.min.js' %}"></script>
<script src="{% static 'app/scripts/jquery.scrollex.min.js' %}"></script>
<script src="{% static 'app/scripts/jquery.scrolly.min.js' %}"></script>
<script src="{% static 'app/scripts/browser.min.js' %}"></script>
<script src="{% static 'app/scripts/breakpoints.min.js' %}"></script>
<script src="{% static 'app/scripts/util.js' %}"></script>
<script src="{% static 'app/scripts/main.js' %}"></script>
{% endblock %}
