{% extends "app/layout.html" %} {% load getattribute %} {% block content %}

<article id="main">
  <header class="small">
    <h2>Redirect to {{title}}</h2>
    <p>{{message}}</p>
  </header>
  <form method="POST">
    {% csrf_token %}
    <div class="small-tables">
      <table>
        <tr>
          <th>Password</th>
          <td><input type="text" name="password" /></td>
        </tr>
      </table>
    </div>

    <div style="text-align: center; margin-top: 20px">
      <input type="submit" value="Submit" name="save" />
    </div>
  </form>
</article>

{% endblock %}
