{% extends "app/layout.html" %} {% block content %}

<article id="main">
  <header class="small">
    <h2>Recover Credentials</h2>
    <p>Use your email to try to recover your log in information</p>
  </header>
  <br />
  <form action="." method="post">
    {% csrf_token %}
    <div class="small-tables">
      <table>
        {{form}}
      </table>
    </div>
    <div style="text-align: center; margin-top: 20px">
      <input type="hidden" name="next" value="/" />
      <input type="submit" value="Recover" />
    </div>
  </form>
</article>

{% endblock %}
