On [enter actual date] the Supreme Court announced a 5-4 decision on the
Deferred Action for Childhood Arrivals (DACA) program, ruling that President
Trump had the authority to end the DACA program. This puts the lives of nearly
800,000 current DACA recipients and their families in a deep state of
uncertainty. The ruling comes at a particularly dire time as our Country faces
the COVID-19 pandemic, with over 200,000 DACA recipients playing a key role as
essential workers in the response efforts. Below you will find additional
details and resources to help.

<u><b>Summary of Today’s Decision</b></u>

<b>What the Court Decided:</b>

The Supreme Court concluded that the process by which the Trump Administration
ended DACA was legally sufficient and the government has the authority to roll
back DACA. We do not yet know when or under what terms the Trump Administration
will exercise this power. Importantly, the Supreme Court did not reach the
question of DACA’s legality meaning another President could reinstate DACA in
the future.

<b>What it means for work authorizations and deportation:</b>

We do not yet know exactly how the Trump Administration will respond to today’s
Supreme Court decision, but here are three possible outcomes:
<ol>
  <li>
    The Administration could decide that in order to avoid more chaos in the
    middle of the coronavirus crisis - and given popular support for the program
    - it will maintain the status quo and allow DACA renewals to continue for a
    designated period of time (e.g. for 6 months or until a specified date).
  </li>
  <li>
    It is also possible that the Administration will simply let current
    protections expire gradually, on each individual’s stated expiration date.
    That would allow recipients to continue working and maintain protection
    against deportation until their DACA expires. The main question under this
    scenario is what happens to renewal applications currently pending with the
    agency.
  </li>
  <li>
    Individuals whose DACA expires and who come into contact with ICE will no
    longer have protection. However, it is unlikely that ICE will specifically
    target large numbers of DACA recipients for arrest and deportation simply
    because their DACA protections have expired. ICE will most likely prioritize
    those DACA recipients who have existing deportation orders. This
    <a
      href="https://www.propublica.org/article/ice-has-access-to-daca-recipients-personal-information-despite-promises-suggesting-otherwise-internal-emails-show"
      >recent ProPublica article</a
    >
    provides useful information and analysis about how ICE might move forward.
  </li>
</ol>

<b>What DACA recipients can do now:</b>

All DACA recipients should speak to a trusted immigration lawyer to explore
their legal options. Some individuals might be eligible for another form of
relief. Immigration service providers in Virginia include Legal Aid Justice
Center and Just Neighbors. DACA recipients can also search for legal
representatives in their area by visiting the
<a href="http://bit.ly/ianimmhelp"
  >National Immigration Legal Services Directory</a
>. Additionally, some employers may be willing to help pay for a legal
consultation. Even if a DACA recipient does not qualify for another form of
relief, having discussed his or her case with an immigration attorney can be
very useful if removal or deportation proceedings are initiated.

<u><b>FAQs for DACA Recipients</b></u>

<b>Can I continue to work?</b>

If the DACA program ends but your work permit remains valid, you can
<a href="https://www.nilc.org/issues/daca/daca-and-workplace-rights/"
  >work legally until your work permit’s expiration date</a
>. You have no obligation to inform your employer that your DACA has ended and
your employer cannot take any action against you until after your permit
expires.

<b>What happens to my social security number?</b>

<a href="https://www.ilrc.org/sites/default/files/resources/if_daca_ends.pdf"
  >Your SSN is valid for life</a
>, even once your DACA expires.
<u
  >If you have not done so already, apply for a SSN while your DACA and work
  permit are still valid.</u
>
You can use your SSN for education, banking, housing and other purposes,
although it cannot be used for employment without a valid work permit.

<b>Can I continue to go to school and access financial aid?</b>

<a href="https://uleadnet.org/">Depending on the state</a>, losing DACA may not
have an impact on in-state tuition or financial aid. Many states base students’
eligibility for aid on residency and in-state high school graduations, which are
unaffected by changes in immigration status. More detailed information can be
found
<a
  href="https://www.presidentsimmigrationalliance.org/wp-content/uploads/2020/04/2020-04-Higher-Ed-Guide-to-Tuition-Financial-Aid-Other-Funding-for-Undocumented-Students.pdf"
  >here</a
>.

<b>Will losing DACA impact my housing?</b>

A person’s ability to access housing is not contingent on their immigration
status. If a landlord asks you for documentation of your immigration status, it
may be a
<a
  href="https://www.equalhousing.org/wp-content/uploads/2014/09/2012-Immigration-Status-FAQ.pdf"
>
  violation of the Fair Housing Act’s prohibition on national origin
  discrimination</a
>. If your landlord asks about your status or threatens eviction upon the
program’s termination, you can report the incident to the Office of Fair Housing
and Equal Opportunity.

<b>Am I eligible for any other visa program/form of relief?</b>

Many DACA recipients may be eligible for another<a
  href="https://immigrantsrising.org/wp-content/uploads/Immigrants-Rising_Beyond-DACA-Guide.pdf"
>
  immigration option</a
>
to get a work permit or even a green card. Talk to an
<a href="https://www.immigrationadvocates.org/nonprofit/legaldirectory/"
  >immigration services provider</a
>
to understand your legal options and if you might be eligible for another
immigration benefit.

<b>What are my rights?</b>

Every person, regardless of immigration status, has the right to: (1) not open
the door to an immigration agent; (2) remain silent and not answer any
questions; and (3) not sign anything without speaking to a lawyer. A printable
<a href="https://www.ilrc.org/red-cards">red card</a> can be presented to an ICE
agent to help ensure no personal liberties are violated.

<u><b>More Information, Trusted Organizations and Resources</b></u>
<ul>
  <li><a href="https://homeishere.us/">Home is Here</a></li>
  <li><a href="https://www.ilrc.org/">Immigrant Legal Resource Center</a></li>
  <li><a href="https://www.nilc.org/">National Immigrant Law Center</a></li>
  <li><a href="https://www.informedimmigrant.com/">Informed Immigrant</a></li>
</ul>
<a
  href="https://www.presidentsimmigrationalliance.org/wp-content/uploads/2020/04/2020-04-Higher-Ed-Guide-to-Tuition-Financial-Aid-Other-Funding-for-Undocumented-Students.pdf"
  ><b>FAQs on DACA Termination and Access to Higher Education</b></a
>

<i>Presidents’ Alliance on Higher Education and Immigration</i>

This document answers questions about how students can continue to access
financial aid and employment opportunities regardless of their immigration
status. This includes information on how states and institutions can ease the
financial burden on undocumented students—and a list of
<a href="https://uleadnet.org/"><b>states that already do</b></a
>.

<a href="https://immigrantsrising.org/resource/overview/"
  ><b
    >Resource Bank for Immigrant Entrepreneurship, Higher Education, and Legal
    Aid</b
  ></a
>

<i>Immigrants Rising</i>

This list of resources supports undocumented entrepreneurs, contractors, and
freelancers - it includes documents on accessing benefits as an immigrant
entrepreneur and guidance on navigating national policies and
California-specific benefits. Particularly relevant is this
<a
  href="https://immigrantsrising.org/wp-content/uploads/Immigrants-Rising_Beyond-DACA-Guide.pdf"
  ><b>document</b></a
><b> </b>covering long-term immigration remedies for undocumented youth.

<a href="https://www.ilrc.org/sites/default/files/resources/if_daca_ends.pdf"
  ><b>Navigating Work Permits, SSNs, IDs, and More After DACA</b></a
>

<i>Immigrant Legal Resource Center</i>

This document was written in 2017 to help DACA recipients know what to expect if
the Court allowed DACA to be terminated. Now that this is an unfortunate
reality, these practical FAQs have renewed relevance.

<a href="https://www.nilc.org/issues/daca/about-daca-and-employment/"
  ><b>FAQs on DACA and Employment</b></a
>

<i
  >National Immigration Law Center, United We Dream, and Advancing Justice –
  ALC</i
>

This document helps DACA recipients navigate the legal implications of
employment without DACA or with a work permit that may expire. In these
challenging circumstances, it is important for employers and employees alike to
navigate the legal obstacles for keeping DACA recipients employed.

<a
  href="https://www.youtube.com/watch?v=wY6ycbZIEmY&amp;amp=&amp;feature=youtu.be"
  ><b>Webinar on Income and Career Options for Undocumented Students</b></a
>

<i
  >Presidents’ Alliance on Higher Education and Immigration, TheDream.Us,
  Immigrants Rising, Democracy at Work Institute</i
>

This webinar includes stories from undocumented professionals on how to advance
your career regardless of immigration status, advice for undocumented students,
and resources for educators.
