{% extends "app/layout.html" %} {% block content %}

<article id="main">
  <header class="small">
    <h2>Submit a Document</h2>
    <p>Only PDF's are accepted!</p>
  </header>
  <br />
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %} {{form.errors}}
    <div class="small-tables horizontal fixed">
      <table>
        {% for field in form %}
        <tr>
          <th style="text-align: right; padding-right: 10px; width: 35%">
            {{field.label}}: *
          </th>
          <td>{{field}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>

    <div style="text-align: center">
      <input type="submit" value="Submit" class="button red" name="save" />
    </div>
  </form>

  {% endblock %}
</article>
